
html{
    background-color: black;    
}

#heading {
    text-align: center;
    color: white;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
  }

.display {
    border: 5px outset red;
    background-color: lightblue;    
    text-align: center;
}

.interactable 
{  
    position: center;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.buyBtn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 20px 20px;
    text-align: relative;
    font-size: 24px;
  }

  .buyBtn:hover {
    font-weight: bolder;
    background-color:#338d36;
  }

  .buyBtn:active {
    background-color: gray;
  }


  .sellBtn {
    background-color: #d44040; /* Red */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }